.done{
    text-decoration: line-through;
}
li{
    margin: 5 5px;
}
button{
    margin:0 10px;
}
span{
    cursor: pointer;
    transition: 0.3s;
}

span:hover{
    color: blue;
}
.error{
    border:2px solid red;
}

mark{
    background: yellow;
    padding:2px;
}

.badge{
    padding:2px 6px;
    border-radius: 6px;
    font-size: 12px;
    margin-left:8px ;
}

.high{
    background: red;
    color: white;
}

.medium{
    background: orange;
    color: white;
}

.low{
    background: green;
    color: white;
}