.done{
    text-decoration: line-through;
    opacity: 0.6;
}
.empty{
    text-align: center;
    opacity: 0.5;
}
li{
    margin: 5 5px;
}
button{
    margin:0 10px;
}
span{
    cursor: pointer;
    transition: 0.3s;
    margin-right:5px;
}

span:hover{
    color: blue;
}
.error{
    border:2px solid red;
}