*{
    box-sizing: content-box;
}

.container{
    width: 1000px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.body{
    font-family:Arial;
    background: #f4f4f4;
}
.content{
    width: 800px;
    margin: auto;
    padding:10px;
    
}
.profile{
    width: 600px;
    margin: 10px 10%;
    padding: 20px;
    border-radius:10px ;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.profile img{
    display: block;
    margin: auto;
    width:150px;
    border-radius: 50%;
}
.hidden{
    display: none;
}

ol{
    list-style: none;
    padding:0;
}

li{
    background: #eee;
    margin:5px;
    padding:8px;
    border-radius: 5px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th,td{
    padding: 8px;
    text-align: left;
}

th{
    background: #f2f2f2;
}

.form{
    width: 600px;
    background-color: #f4f4f4;
    margin: auto;
    border-radius: 10px;
    padding:20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.input-content input,textarea{
    width:95%;
    padding:10px;
    margin:5px;
}
.check-content{
    margin: 5px;
}

.check-content input{
    cursor: pointer;
    transition: 0.3s;
}



button{
    cursor: pointer;
    transition: 0.3s;
    width: 95%;
    background: blue;
    color: white;
    border:none;
    padding:10px;
    border-radius:5px;
}

button:hover{
    background:#003366;
}