.container{
    width: 800px;
    margin: auto;
}
.body{
    font-family:Arial;
    background: #f4f4f4;
}
.content{
    width: 1000px;
    margin: auto;
    padding:10px;
    
}
.profile{
    width: 800px;
    margin: auto;
    padding: 20px;
    border-radius:10px ;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.profile img{
    width:150px;
    border-radius: 50%;
}

ol{
    list-style: none;
    padding:0;
}

li{
    background: #eee;
    margin:5px;
    padding:8px;
    border-radius: 5px;
}

.form{
    width: 800px;
    background-color: #f4f4f4;
    margin: auto;
    border-radius: 10px;
    padding:20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.input-content input,textarea{
    width:95%;
    padding:10px;
    margin:5px;
}
.check-content{
    margin: 5px;
}

button{
    width: 95%;
    background: blue;
    color: white;
    border:none;
    padding:10px;
    border-radius:5px;
}

button:hover{
    background-color: darkblue;
}